nav.navbar{
    display: flex;
    justify-content: flex-end;
    gap: 3em;
    height: 60px;
    background-color: #D3F8A4;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    align-items: center;
}

.a-logo{
    display:contents;
}

.logo{
    align-items: center;
    border-radius: 50%;
    width: 75px;
    height: 75px;   
    margin-right: auto;
    margin-left:1em;
    transition: 0.5s;
}
.logo:hover{
    transition: 0.25s;
}

.signinNav,.signupNav,.growersNav,.recipesNav,.signoutNav,.profileUserNav{
    color: black;
    transition: 0.5s;
}
.signinNav:hover,.signupNav:hover,.growersNav:hover,.recipesNav:hover,.signoutNav:hover,.profileUserNav:hover{
    color: rgb(64, 198, 151);
    transition: 0.25s;
}

.signupNav,.profileUserNav{
    margin-right:2em;
}

.growersNav::after,.recipesNav::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ca0000;
    transition: transform 0.25s ease;
    transform-origin: bottom right;
  }
  
  .growersNav:hover::after,.recipesNav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }



.signinNav,.signupNav,.signoutNav,.profileUserNav{
    background-color:white;
    padding: 0.5em;
    border-radius: 10px;
}

.burgerNav{
    display: none;
}

@media screen and (max-width:750px) {
    .signinNav,.signupNav,.growersNav,.recipesNav,.signoutNav,.profileUserNav{
        display: none;
    }
    .burgerNav{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 1em;
    }
}
