.navbar{
    display: flex;
    justify-content: flex-end;
    gap: 3em;
    height: 80px;
    background-color: #D3F8A4;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    align-items: center;
    z-index: 2;
    position: fixed;
}

.navbar1{
    display: flex;
    justify-content: flex-end;
    gap: 3em;
    height: 80px;
    background-color: #D3F8A4;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 2em;
    align-items: center;
    z-index: 2;
    position: fixed;
}

.a-logo{
    display:contents;
}

.logo{
    align-items: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;   
    margin-right: auto;
    transition: 0.5s;
}
.logo:hover{
    transition: 0.25s;
}

.signinNav,.signupNav,.growersNav,.recipesNav,.signoutNav,.profileUserNav,.profileGrowerNav{
    color: black;
    transition: 0.5s;
}
.signinNav:hover,.signupNav:hover,.growersNav:hover,.recipesNav:hover,.signoutNav:hover,.profileUserNav:hover,.profileGrowerNav:hover{
    color: rgb(64, 198, 151);
    transition: 0.25s;
}

.signupNav,.profileUserNav{
    margin-right:2em;
}



.growersNav::after,.recipesNav::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ca0000;
    transition: transform 0.25s ease;
    transform-origin: bottom right;
  }
  
  .growersNav:hover::after,.recipesNav:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }


.signinNav,.signupNav,.signoutNav,.profileUserNav,.profileGrowerNav{
    background-color:white;
    padding: 0.5em;
    border-radius: 10px;
}

.burgerNav{
    display: none;
}

@media screen and (min-width:750px) {
    .burger-menu,.navbar1,.burger-menu-options{
        display: none;
    }
}


@media screen and (max-width:750px) {
    .signinNav,.signupNav,.growersNav,.recipesNav,.signoutNav,.profileUserNav,.profileGrowerNav,.navbar{
        display: none;
    }
    .burgerNav{
        display: flex;
        text-align: center;
        align-items: center;
        flex-direction: row;
        align-content: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-right: 1em;
    }
    .burger-menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        height: 100%;
        width: 3em;
        flex-wrap: nowrap;
        padding-top:0.1em;
    
    
    }
    
    .burger-bar{
        width:4em;
        height: 0.5em;
        background-color: rgb(177, 83, 83);
        border-radius: 0.5em;
        position: fixed;
        z-index: 4;
    
    }
    
    .menu{
        width: 50%;
        height: 100%;
        top:79px;
        background: rgba(13, 14, 13, 0.8); 
        position: fixed;
        z-index: 1;
        margin-left:50%;
    }
    
    .hidden{
        display: none;
    }
    .visible{
        display: inherit;
    }
}


