.header-cart > .btn-subscription {
    background-color: green;
    color: #f1f1f1;
    font-weight: bold;
}

.header-cart > .btn-delete {
    background-color: #dd1414;
    color: #f1f1f1;
    font-weight: bold;
}

.containerGrowerCart{
    display: flex;
    width: 100%;
}

.cartvue{
    color:rgb(36, 36, 36);
}

.cartimg{
    width: 35%;
    min-width: 400px;
    height:300px;
    object-fit: cover;
}

.Cart-Name{
    font-size:24px ;
}

.backToGrower{
    color: rgb(255, 0, 0);
    position: relative;
}

.backToGrower:hover{
    color: #ff0000;
}

.backToGrower::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ca0000;
    transition: transform 0.25s ease;
    transform-origin: bottom right;
  }
  
  .backToGrower:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.carts-products-items {
    text-align: justify;
    width: fit-content;
    margin: auto;
}

.list{
    list-style:circle;
}

.descriptioncart {
    padding: 4em;
    text-align: justify ;
    font-size: 18px;
}

hr {
    width: 95%;
}
.description{
    width: 100%;
    font-family: 'Allerta Stencil';
    
}

.titldesc,.titleAssociatedRecipes,.productsTitle{
    color:rgb(36, 36, 36);
    text-align: left;
    margin-left: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
}


.associated-Recipes-Items{
    display: grid;
    align-items: stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    color: black;
    margin: 1em;
    margin-top: 2em;
    margin-bottom: 4em;
}

.link-associated-recipe{
    background-color: #e2a15c;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: ease-in-out.4s;
    color:black;
}

.link-associated-recipe:hover{
    color:yellow;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(153 255 0 / 80%);
    transition: ease-in-out.4s;
}

@media screen and (max-width:750px) {
    
    
    .titldesc,.titleAssociatedRecipes,.productsTitle{
        text-align: center;
        margin-left:0;
        font-size: 24px;
    }
    .growername{
        font-size: 16px;
    }
    .carts-products-items {
        text-align: justify;
        width: fit-content; 
        margin:4em;
    }
    .associated-Recipes-Items{
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);
    }
    .associated-recipe-title{
        font-size: 14px;
    }
}