#growerimg{
width: 100%; 
height: 250px;
object-fit: cover; 
}


#growercartimg{
    width: 100%;
    height: 350px;
    object-fit:cover ;
    transition: ease-in-out.4s;
}



.growerdata{
    display: flex;
    flex-direction: column;
    text-align: justify;
}



.growerdesc{
    width: 100%;
    font-family: 'Allerta Stencil';
    margin-left: 0.5em;
}

.growerCart{
    color: black;
    margin:1em;
    padding-top:2em;
    padding-bottom:2em;
    backdrop-filter: blur(2px);
}



.growerCarts{
    display: grid;
    margin:2em;
    align-items:stretch;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    color: black;
    margin:1em;
}

.titlewithgrowercart{
    background: linear-gradient(90deg, rgb(197, 157, 87) 0%, rgb(64, 183, 62) 50%,rgb(197, 157, 87) 100%);
    padding: 0.5em;
    margin-top: -4px;
    border-radius: 4px;
    transition: ease-in-out.4s;
}

.titlewithgrowercart:hover{
    border-radius: 4px;
    box-shadow: 0px 0px 10px 2px rgb(153 255 0 / 70%);
    transition: ease-in-out.4s;
    
}


img#growercartimg:hover {
    filter: blur(2px);
    transition: ease-in-out.4s;
    content: 'Voir le panier';
}

.titlecart{
    color:rgb(255, 255, 255);
    width: fit-content;
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
}

.title4grower{
    color:rgb(255, 255, 255);
    width: fit-content;
    margin:auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
}

.userReview,.growerpresentation{
    color:black;
    margin:1em;
}

.growerReview{
    text-align: justify;
    font-family: system-ui;
    padding-bottom: 2em;
    margin:1em;
}
.note{
    font-family: system-ui;
    font-weight: bold;
    font-size:32px ;
}

.publication{
    font-family: system-ui;
    font-weight: bold;
    font-size: 12px;
}

.data{
    font-family: system-ui;
    font-weight: bold;
    font-size: 32px;
    width: 100%;
    margin-left: 5px;
}

#avatargrowerprofile{
    width: 20%;
    max-width: 200px;
    max-height: 200px;
    min-width: 195px;
    min-height: 195px;
}


#titleUserReview,#titleCartspresentation{
    color:black;
    text-align: left;
    margin-left: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
}

.inscriptionDate{
    font-family: system-ui;
    font-weight: bold;
    font-size: 12px;
    margin-left: 6px;
}

hr {
    padding-top:1em;
    opacity: 15%;
    width: 95%;
    border: none;
    border-top: 5px dotted #524747;
    color: #333;
    overflow: visible;
    text-align: center;
}

hr:after {
    width: 92%;
    background: #524747;
    position: relative;
    top: -13px;
}

.growerinfo{
    align-items: center;
    justify-content: space-evenly;
    color:black;
    margin:1em;
    padding-top:2em;
    margin: auto;
    margin-top: 2em;
    padding: 3em;
}

@media screen and (min-width:750px) {
    .growerCarts{
        grid-template-columns: repeat(2, 1fr);   
    }
    .growerinfo{
        display:flex;
        align-items: center;
        justify-content: space-evenly;
    }
    
}

@media screen and (max-width:750px) {
    .growerCarts{
        grid-template-columns: repeat(1, 1fr);
    }
    .data,.inscriptionDate{
        text-align: center;
    }
    #titleCartspresentation,#titleUserReview{
        text-align: center;
        margin-left:0;
    }
    #avatargrowerprofile{
        height:150px;
        width:150px;
    }
    #growerimg {
        width: 100%;
        height: 175px;
        object-fit: cover;
    }
}