#growerimg{
width: 100%; 
height: 200px;
object-fit: cover; 
}
.growerinfo{
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    color:black;
    margin:1em;
    padding-top:2em;
    width:50%;
    margin: auto;
    margin-top: 2em;
    padding: 3em;
}


.growerdata{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.data{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.growercart{
    color: black;
    margin:1em;
    padding-top:2em;
    padding-bottom:2em;
}

.growerCarts{
    display: grid;
    margin:2em;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    color: black;
    margin:1em;
    padding-top:2em;
    padding-bottom:2em;
}

.titlewithgrowercart{
    background-color: rgb(70, 181, 69);
    padding: 0.5em;
}

.titlecart{
    width: fit-content;
    margin: auto;
}

.title4grower{
    width: fit-content;
    margin:auto;
}

.userReview{
    color:black;
    margin:1em;
    padding-top:2em;
    padding-bottom:1em;
}

.growerReview{
    text-align: justify;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-bottom: 2em;
    margin:1em;
}

#avatargrowerprofile{
    width: 40%;
}


#titleUserReview{
    text-align: left;
    margin-left: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

hr {
    padding-top:1em;
    opacity: 15%;
    width: 95%;
    border: none;
    border-top: 5px dotted #524747;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 10px;
}

hr:after {
    width: 92%;
    background: #524747;
    position: relative;
    top: -13px;
}
