.grower>img{
    width: 150px;
    height: 150px;
}

.grower{
    background-color: rgb(70, 181, 69);
    border-radius: 1em;
    color:white;
    height: 100%;
    width: 100%;
    transition: ease-in-out.6s;
    
}
.grower:hover{
    border-radius: 1em;
    box-shadow: 0px 0px 10px 2px rgb(153 255 0 / 70%);
    transition: ease-in-out.4s;
}

.avatargrow{
    padding-top: 1em;
}

.growername{
    font-family: system-ui;
}

.growerdescript{
    font-family: 'Allerta Stencil';
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}


.grower:hover{
    transition: ease-in-out.4s;
    background: linear-gradient(2deg, #a4c27e, #7a8e5e);
    background-size: 1000% 1000%;
    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
@keyframes AnimationName {
    0%{background-position:50% 0%}
    50%{background-position:51% 100%}
    100%{background-position:50% 0%}
}
.growers{
    display: grid;
    margin-left:2em;
    margin-right:2em;
    padding-top:8em;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5em;
    grid-auto-rows: minmax(100px, auto);
    padding-bottom: 3em;
    justify-items: center;
} 
@media screen and (max-width:1000px) {
    .growers{
        grid-template-columns: repeat(2, 1fr);   
        
    }
}

@media screen and (max-width:650px) {
    .growers{
        grid-template-columns: repeat(1, 1fr);
    }
}
