.cartvue{
    color:rgb(36, 36, 36);
}

.cartimg{
    width: 35%;
    min-width: 400px;
    height:300px;
    object-fit: cover;
}

.Cart-Name{
    font-size:24px ;
}

.backToGrower{
    color: rgb(255, 0, 0);
    position: relative;
}

.backToGrower:hover{
    color: #ff0000;
}

.backToGrower::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ca0000;
    transition: transform 0.25s ease;
    transform-origin: bottom right;
  }
  
  .backToGrower:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.carts-products-items {
    text-align: justify;
    width: fit-content;
    margin: auto;
}

.list{
    list-style:circle;
}

.descriptioncart {
    padding: 4em;
    text-align: justify ;
    font-size: 18px;
}

hr {
    width: 95%;
}
.description{
    width: 100%;
    font-family: 'Allerta Stencil';
    
}

.titldesc,.titleAssociatedRecipes,.productsTitle{
    color:rgb(36, 36, 36);
    text-align: left;
    margin-left: 2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 38px;
}
@media screen and (max-width:750px) {
    
    
    .titldesc,.titleAssociatedRecipes,.productsTitle{
        text-align: center;
        margin-left:0;
    }
    .carts-products-items {
        text-align: justify;
        width: fit-content; 
        margin:4em;
    }
}