.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 5px;
    text-decoration: none;
}

.pagination .page-num {
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 400;
}

.pagination .page-num:hover {
    background-color: #BA7D3C;
    color: #fff;
}

.pagination .active {
    background-color: #BA7D3C;
}

.pagination .active-link {
    color: #f1f1f1;
}

.pagination .button-disabled
{
    display: none;
}

.Home-recipes{
    display: grid;
    align-items:center;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1em;
    grid-auto-rows: auto;
    color: black;
    margin:0;
    margin-top:4em;
    margin-bottom:4em;
    margin-left:1em;
    margin-right:1em; 
    
}


.Link-recipe{
    background-color: #BA7D3C;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: stretch;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: ease-in-out.4s;
}

.Link-recipe:hover{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px rgb(153 255 0 / 80%);
    transition: ease-in-out.4s;
} 

.recipesh3 {
    font-size: 20px;
    display: flex;
    padding: 2em;
    color: black;
    height: 100%;
    align-items: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

.recipesh3:hover {
    color: rgb(12, 226, 76);
    transition: 0.3s;
   
}

a.create-new-recipe {
    background-color: #58f0b4;
    color: black;
    padding: 1em;
    border-radius: 10px;
    transition:0.5s;
}

a.create-new-recipe:hover{
    color:rgb(255, 0, 0);
    transition: 0.25s;
}

.paginationdiv {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding-top:1em;
    padding-bottom:1em;
}

.filters2{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 1em;
    justify-content: center;
    gap: 2em; 
}

.h1-create-recipe {
    text-align: justify;
    margin-left: 1em;
    margin-top: 2em;
    margin-bottom: 0.5em;
}

.select-ustensil{
    margin-left: 4em;
}
.recette-info-etapes-items,.button-create-recipe{
    text-align: start;
    
    width: 200px;
    margin-bottom:0.5em;
}

.recette-info {
    padding-top: 8em;
}

.create-new-recipe-btn{
    width: 200px;
}

.recette-info-ingredients-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.recette-info-ingredients-item {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
    height: 100%;
    width:100%;
    justify-items: center;
    justify-content: center;
    align-content: center;
    margin: 1em;
}

.add-ing{
    width: 100%;
}

.button-add-ingredient {
    width: 200px;
    margin-left: 5em;
}

@media screen and (max-width:1000px) {
    .Home-recipes{
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);     
    }
    .recipesh3 {
        font-size: 16px;
        display: flex;
        background-color: #BA7D3C;
        padding: 2em;
        color: black;
        height: 100%;
        align-items: center;
    }
    .h1-create-recipe {
        text-align: center;
        margin:0;
        font-size: 28px;
        margin-top:2em;
    }
    .filters2{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 1em;
        justify-content: center;
        gap: 2em;
    }
    .select-ustensil {
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .recette-info-ingredients-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button-add-ingredient {
        margin:0;
    }
    .create-new-recipe-btn {
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .recette-info-etapes-items, .button-create-recipe {
        margin-bottom: 0.5em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width:auto;
    }
    
}

@media screen and (max-width:750px) {
    .Home-recipes{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1em;
        grid-auto-rows: minmax(100px, auto);   
    }
    .recipesh3 {
        font-size: 12px;
        display: flex;
        background-color: #BA7D3C;
        padding: 2em;
        color: black;
        height: 100%;
        align-items: center;
    }
    .h1-create-recipe {
        text-align: center;
        margin:0;
        margin-top:2em;
        font-size:20px
    }
    .filters2{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 1em;
        justify-content: center;
        gap: 1em;
    }
    .select-ustensil {
        display: flex;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .recette-info-ingredients-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .button-add-ingredient {
        margin:0;
    }
    .create-new-recipe-btn {
        width: 200px;
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .recette-info-etapes-items, .button-create-recipe {
        margin:0;
        margin-bottom: 0.5em;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
        width: auto;
    }
}



