.Items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    list-style: none;
    align-items: center;
    text-align: center;
    justify-content: end;

}

.Item {
    box-sizing: border-box;
    border: solid 2px black;
    min-width: 100%;
    font-size: 0.5em;
}

